In [1]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Date, ForeignKey, select, Float,or_, and_, Boolean

from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

engine = create_engine("postgres://postgres:postgres@localhost:5432/dvdrental")
metadata = MetaData()
session = (sessionmaker(bind=engine))()
Base = declarative_base()

In [2]:
#initialize mapper operation

dic_table = {}
for table_name in engine.table_names():
    dic_table[table_name] = Table(table_name, metadata , autoload=True, autoload_with=engine)

In [3]:
# zadanie 1
%time mapper_stmt = select([dic_table['category'].columns.category_id,dic_table['category'].columns.name])
print('Mapper select: ')
print(mapper_stmt)
%time mapper_results = engine.execute(mapper_stmt).fetchall()
print(mapper_results)
print('\nIlosc kategorii:')
len(mapper_results)

Wall time: 0 ns
Mapper select:
SELECT category.category_id, category.name
FROM category
Wall time: 9.97 ms
[(1, 'Action'), (2, 'Animation'), (3, 'Children'), (4, 'Classics'), (5, 'Comedy'), (6, 'Documentary'), (7, 'Drama'), (8, 'Family'), (9, 'Foreign'), (10, 'Games'), (11, 'Horror'), (12, 'Music'), (13, 'New'), (14, 'Sci-Fi'), (15, 'Sports'), (16, 'Travel')]

Ilosc kategorii:

16

In [4]:
# zadanie 2
%time mapper_stmt = select([dic_table['category'].columns.category_id,dic_table['category'].columns.name]).order_by(dic_table['category'].columns.name)
print('Mapper select: ')
print(mapper_stmt)
%time mapper_results = engine.execute(mapper_stmt).fetchall()
print(mapper_results)

Wall time: 0 ns
Mapper select:
SELECT category.category_id, category.name
FROM category ORDER BY category.name
Wall time: 1.99 ms
[(1, 'Action'), (2, 'Animation'), (3, 'Children'), (4, 'Classics'), (5, 'Comedy'), (6, 'Documentary'), (7, 'Drama'), (8, 'Family'), (9, 'Foreign'), (10, 'Games'), (11, 'Horror'), (12, 'Music'), (13, 'New'), (14, 'Sci-Fi'), (15, 'Sports'), (16, 'Travel')]

In [5]:
# zadanie 3
%time mapper_stmt = select([dic_table['film'].columns.title,dic_table['film'].columns.release_year]).order_by(dic_table['film'].columns.release_year).limit(1)
print('Mapper select: ')
print(mapper_stmt)
%time mapper_results = engine.execute(mapper_stmt).fetchall()
print('Najnowszy film:')
print(mapper_results)


%time mapper_stmt = select([dic_table['film'].columns.title,dic_table['film'].columns.release_year]).order_by(dic_table['film'].columns.release_year.desc()).limit(1)
print('Mapper select: ')
print(mapper_stmt)
%time mapper_results = engine.execute(mapper_stmt).fetchall()
print('Najstarszy film:')
print(mapper_results)

Wall time: 971 µs
Mapper select:
SELECT film.title, film.release_year
FROM film ORDER BY film.release_year
 LIMIT :param_1
Wall time: 15 ms
Najnowszy film:
[('Chamber Italian', 2006)]
Wall time: 0 ns
Mapper select:
SELECT film.title, film.release_year
FROM film ORDER BY film.release_year DESC
 LIMIT :param_1
Wall time: 1.99 ms
Najstarszy film:
[('Chamber Italian', 2006)]

In [6]:
# zadanie 4
%time mapper_stmt = select([dic_table['rental'].columns.rental_id,dic_table['rental'].columns.rental_date]).\
    where(and_(dic_table['rental'].columns.rental_date > '2005-07-01',dic_table['rental'].columns.rental_date < '2005-08-01'))
print('Mapper select: ')
print(mapper_stmt)
%time mapper_results = engine.execute(mapper_stmt).fetchall()
print('Ilosc wyporzyczen w zadanym okresie')
len(mapper_results)

Wall time: 994 µs
Mapper select:
SELECT rental.rental_id, rental.rental_date
FROM rental
WHERE rental.rental_date > :rental_date_1 AND rental.rental_date < :rental_date_2
Wall time: 44.9 ms
Ilosc wyporzyczen w zadanym okresie

6709

In [7]:
# zadanie 5
%time mapper_stmt = select([dic_table['rental'].columns.rental_id,dic_table['rental'].columns.rental_date]).\
where(and_(dic_table['rental'].columns.rental_date > '2010-01-01',dic_table['rental'].columns.rental_date < '2011-02-01'))
print('Mapper select: ')
print(mapper_stmt)
%time mapper_results = engine.execute(mapper_stmt).fetchall()
print('Ilosc wyporzyczen w zadanym okresie')
len(mapper_results)

Wall time: 997 µs
Mapper select:
SELECT rental.rental_id, rental.rental_date
FROM rental
WHERE rental.rental_date > :rental_date_1 AND rental.rental_date < :rental_date_2
Wall time: 2.99 ms
Ilosc wyporzyczen w zadanym okresie

0

In [8]:
#zadanie 6
%time mapper_stmt = select([dic_table['payment'].columns.payment_id,dic_table['payment'].columns.amount]).order_by(dic_table['payment'].columns.amount.desc()).limit(1)
print('Mapper select: ')
print(mapper_stmt)
%time mapper_results = engine.execute(mapper_stmt).fetchall()
print('Najdroższa płatność')
print(mapper_results)

Wall time: 0 ns
Mapper select:
SELECT payment.payment_id, payment.amount
FROM payment ORDER BY payment.amount DESC
 LIMIT :param_1
Wall time: 24.9 ms
Najdroższa płatność
[(20403, Decimal('11.99'))]

In [9]:
#zadanie 7
%time mapper_stmt = select([dic_table['customer'].columns.customer_id,dic_table['customer'].columns.first_name,dic_table['customer'].columns.last_name]).\
    where(dic_table['customer'].columns.address_id.in_(select([dic_table['address'].columns.address_id]).\
          where(dic_table['address'].columns.city_id.in_(select([dic_table['city'].columns.city_id]).\
               where(dic_table['city'].columns.country_id.in_(select([dic_table['country'].columns.country_id]).\
                    where(dic_table['country'].columns.country.in_(['Poland','Nigeria','Bangladesh']) )))))))
print('Mapper select: ')
print(mapper_stmt)
%time mapper_results = engine.execute(mapper_stmt).fetchall()

print(mapper_results)

Wall time: 996 µs
Mapper select:
SELECT customer.customer_id, customer.first_name, customer.last_name
FROM customer
WHERE customer.address_id IN (SELECT address.address_id
FROM address
WHERE address.city_id IN (SELECT city.city_id
FROM city
WHERE city.country_id IN (SELECT country.country_id
FROM country
WHERE country.country IN (:country_1, :country_2, :country_3))))
Wall time: 49.9 ms
[(571, 'Johnnie', 'Chisholm'), (562, 'Wallace', 'Slone'), (156, 'Bertha', 'Ferguson'), (380, 'Russell', 'Brinson'), (21, 'Michelle', 'Clark'), (318, 'Brian', 'Wyman'), (280, 'Tracey', 'Barrett'), (332, 'Stephen', 'Qualls'), (501, 'Ruben', 'Geary'), (232, 'Constance', 'Reid'), (18, 'Carol', 'Garcia'), (198, 'Elsie', 'Kelley'), (284, 'Sonia', 'Gregory'), (270, 'Leah', 'Curtis'), (128, 'Marjorie', 'Tucker'), (409, 'Rodney', 'Moeller'), (286, 'Velma', 'Lucas'), (572, 'Sidney', 'Burleson'), (103, 'Gladys', 'Hamilton'), (329, 'Frank', 'Waggoner'), (80, 'Marilyn', 'Ross'), (558, 'Jimmie', 'Eggleston'), (250, 'Jo', 'Fowler'), (277, 'Olga', 'Jimenez')]

In [10]:
#zadanie 8
%time mapper_stmt = select([dic_table['staff'].columns.first_name,dic_table['staff'].columns.last_name,dic_table['address'].columns.address]).where(dic_table['staff'].columns.address_id == dic_table['address'].columns.address_id)
print(mapper_stmt)
%time mapper_results = engine.execute(mapper_stmt).fetchall()

print(mapper_results)

Wall time: 996 µs
SELECT staff.first_name, staff.last_name, address.address
FROM staff, address
WHERE staff.address_id = address.address_id
Wall time: 24.9 ms
[('Mike', 'Hillyer', '23 Workhaven Lane'), ('Jon', 'Stephens', '1411 Lillydale Drive')]

In [11]:
#zadanie 9
%time mapper_stmt = select([dic_table['staff'].columns.staff_id,dic_table['staff'].columns.first_name,dic_table['staff'].columns.last_name]).\
    where(dic_table['staff'].columns.address_id.in_(select([dic_table['address'].columns.address_id]).\
          where(dic_table['address'].columns.city_id.in_(select([dic_table['city'].columns.city_id]).\
               where(dic_table['city'].columns.country_id.in_(select([dic_table['country'].columns.country_id]).\
                    where(dic_table['country'].columns.country.in_(['Argentina','Spain']) )))))))
print('Mapper select: ')
print(mapper_stmt)
%time mapper_results = engine.execute(mapper_stmt).fetchall()

len(mapper_results)

Wall time: 1e+03 µs
Mapper select:
SELECT staff.staff_id, staff.first_name, staff.last_name
FROM staff
WHERE staff.address_id IN (SELECT address.address_id
FROM address
WHERE address.city_id IN (SELECT city.city_id
FROM city
WHERE city.country_id IN (SELECT country.country_id
FROM country
WHERE country.country IN (:country_1, :country_2))))
Wall time: 4.99 ms

0

In [12]:
#zadanie 10
%time mapper_stmt = select([dic_table['category'].columns.name]).\
    where(dic_table['category'].columns.category_id.in_(select([dic_table['film_category'].columns.category_id]).\
          where(dic_table['film_category'].columns.film_id.in_(select([dic_table['inventory'].columns.film_id]).\
               where(dic_table['inventory'].columns.inventory_id.in_(select([dic_table['rental'].columns.inventory_id])))))))
print('Mapper select: ')
print(mapper_stmt)
%time mapper_results = engine.execute(mapper_stmt).fetchall()

print(mapper_results)

Wall time: 0 ns
Mapper select:
SELECT category.name
FROM category
WHERE category.category_id IN (SELECT film_category.category_id
FROM film_category
WHERE film_category.film_id IN (SELECT inventory.film_id
FROM inventory
WHERE inventory.inventory_id IN (SELECT rental.inventory_id
FROM rental)))
Wall time: 49.9 ms
[('Action',), ('Animation',), ('Children',), ('Classics',), ('Comedy',), ('Documentary',), ('Drama',), ('Family',), ('Foreign',), ('Games',), ('Horror',), ('Music',), ('New',), ('Sci-Fi',), ('Sports',), ('Travel',)]

In [13]:
#zadanie 11
%time mapper_stmt = select([dic_table['category'].columns.name]).\
    where(dic_table['category'].columns.category_id.in_(select([dic_table['film_category'].columns.category_id]).\
          where(dic_table['film_category'].columns.film_id.in_(select([dic_table['inventory'].columns.film_id]).\
               where(and_(dic_table['inventory'].columns.inventory_id.in_(select([dic_table['rental'].columns.inventory_id])),\
                    dic_table['inventory'].columns.store_id.in_(select([dic_table['store'].columns.store_id]).\
                          where(dic_table['store'].columns.address_id.in_(select([dic_table['address'].columns.address_id]).\
                                where(dic_table['address'].columns.city_id.in_(select([dic_table['city'].columns.city_id]).\
                                    where(dic_table['city'].columns.country_id.in_(select([dic_table['country'].columns.country_id]).\
                                        where(dic_table['country'].columns.country == 'America'))))))))))))))
print('Mapper select: ')
print(mapper_stmt)
%time mapper_results = engine.execute(mapper_stmt).fetchall()

print(mapper_results)

Wall time: 998 µs
Mapper select:
SELECT category.name
FROM category
WHERE category.category_id IN (SELECT film_category.category_id
FROM film_category
WHERE film_category.film_id IN (SELECT inventory.film_id
FROM inventory
WHERE inventory.inventory_id IN (SELECT rental.inventory_id
FROM rental) AND inventory.store_id IN (SELECT store.store_id
FROM store
WHERE store.address_id IN (SELECT address.address_id
FROM address
WHERE address.city_id IN (SELECT city.city_id
FROM city
WHERE city.country_id IN (SELECT country.country_id
FROM country
WHERE country.country = :country_1))))))
Wall time: 18 ms
[]

In [14]:
#zadanie 12
%time mapper_stmt = select([dic_table['film'].columns.title]).\
    where(dic_table['film'].columns.film_id.in_(select([dic_table['film_actor'].columns.film_id]).\
          where(dic_table['film_actor'].columns.actor_id.in_(select([dic_table['actor'].columns.actor_id]).\
               where(or_(and_(dic_table['actor'].columns.first_name == 'Olympia',dic_table['actor'].columns.last_name == 'Pfeiffer'),\
                    and_(dic_table['actor'].columns.first_name == 'Julia',dic_table['actor'].columns.last_name == 'Zellweger'),\
                         and_(dic_table['actor'].columns.first_name == 'Ellen',dic_table['actor'].columns.last_name == 'Presley')))))))
print('Mapper select: ')
print(mapper_stmt)
%time mapper_results = engine.execute(mapper_stmt).fetchall()

print(mapper_results)

Wall time: 0 ns
Mapper select:
SELECT film.title
FROM film
WHERE film.film_id IN (SELECT film_actor.film_id
FROM film_actor
WHERE film_actor.actor_id IN (SELECT actor.actor_id
FROM actor
WHERE actor.first_name = :first_name_1 AND actor.last_name = :last_name_1 OR actor.first_name = :first_name_2 AND actor.last_name = :last_name_2 OR actor.first_name = :first_name_3 AND actor.last_name = :last_name_3))
Wall time: 28.6 ms
[('Express Lonely',), ('Bilko Anonymous',), ('Effect Gladiator',), ('Contact Anonymous',), ('Others Soup',), ('Majestic Floats',), ('Chitty Lock',), ('Santa Paris',), ('Intolerable Intentions',), ('Psycho Shrunk',), ('Floats Garden',), ('Tadpole Park',), ('Idols Snatchers',), ('Hyde Doctor',), ('Divorce Shining',), ('Turn Star',), ('Deep Crusade',), ('Jacket Frisco',), ('Storm Happiness',), ('Won Dares',), ('Rider Caddyshack',), ('Mars Roman',), ('Pinocchio Simon',), ('Wait Cider',), ('Murder Antitrust',), ('Fugitive Maguire',), ('Casper Dragonfly',), ('Private Drop',), ('Jeopardy Encino',), ('Scarface Bang',), ('Women Dorado',), ('Frogmen Breaking',), ('Color Philadelphia',), ('Roots Remember',), ('Empire Malkovich',), ('Treasure Command',), ('Sweet Brotherhood',), ('Open African',), ('Titanic Boondock',), ('Streetcar Intentions',), ('Firehouse Vietnam',), ('Traffic Hobbit',), ('Caribbean Liberty',), ('Maude Mod',), ('Cranes Reservoir',), ('Ice Crossing',), ('Secretary Rouge',), ('Pickup Driving',), ('Dares Pluto',), ('Breakfast Goldfinger',), ('Minds Truman',), ('Microcosmos Paradise',), ('Image Princess',), ('Wyoming Storm',), ('Spy Mile',), ('Oscar Gold',), ('Outlaw Hanky',), ('Badman Dawn',), ('Lambs Cincinatti',), ('Network Peak',), ('Panky Submarine',), ('Hollow Jeopardy',), ('Sense Greek',), ('Magnolia Forrester',), ('Hanky October',), ('Tourist Pelican',), ('Detective Vision',), ('None Spiking',), ('Homeward Cider',)]

In [15]:
#Object representation

class Category(Base):
    __tablename__ = 'category'
    category_id  = Column(Integer, primary_key=True)
    name = Column(String(50))
    last_update  = Column(Date)
    def __str__(self):
        return 'Category id:{0}\nCategory name: {1}\nCategory last_update: {2}'.format(self.category_id,self.name,self.last_update)

In [16]:
class Film(Base):
    __tablename__ = 'film'
    film_id  = Column(Integer, primary_key=True)
    title = Column(String(100))
    description  = Column(String(500))
    release_year = Column(Integer)
    language_id = Column(Integer)
    rebtal_duration = Column(Integer)
    rental_rate = Column(Float)
    length = Column(Integer)
    replacement_cost = Column(Float)
    rating = Column(String(50))
    last_update = Column(Date)
    special_features = Column(String(100))
    fulltext = Column(String(100))

In [17]:
class Rental(Base):
    __tablename__ = 'rental'
    rental_id = Column(Integer, primary_key=True)
    rental_date = Column(Date)
    inventory_id = Column(Integer)
    customer_id = Column(Integer)
    return_date = Column(Date)
    staff_id = Column(Integer)
    last_update = Column(Date)

In [18]:
class Payment(Base):
    __tablename__ = 'payment'
    payment_id = Column(Integer, primary_key=True)
    customer_id = Column(Integer)
    staff_id = Column(Integer)
    rental_id = Column(Integer)
    amount = Column(Float)
    payment_date = Column(Date)

In [19]:
class Address(Base):
    __tablename__ = 'address'
    address_id = Column(Integer,primary_key=True)
    address = Column(String(50))
    address2 = Column(String(50))
    district= Column(String(20))
    city_id = Column(Integer)
    postal_code = Column(String(10))
    phone = Column(String(20))
    last_update = Column(Date)

In [20]:
class City(Base):
    __tablename__ = 'city'
    city_id = Column(Integer,primary_key=True)
    city = Column(String(50))
    country_id = Column(Integer)
    last_uodate = Column(Date)

In [21]:
class Country(Base):
    __tablename__= 'country'
    country_id = Column(Integer,primary_key=True)
    country = Column(String(50))
    last_update = Column(Date)

In [22]:
class Customer(Base):
    __tablename__ = 'customer'
    customer_id = Column(Integer,primary_key=True)
    store_id = Column(Integer)
    first_name = Column(String(50))
    last_name = Column(String(50))
    email = Column(String(50))
    address_id = Column(Integer)
    activebool = Column(Boolean)
    create_date = Column(Date)
    last_update = Column(Date)
    active = Column(Integer)

In [23]:
class Staff(Base):
    __tablename__ = 'staff'
    staff_id = Column(Integer,primary_key=True)
    first_name = Column(String(50))
    last_name = Column(String(50))
    address_id = Column(Integer)
    email = Column(String(50))
    store_id = Column(Integer)
    active = Column(Boolean)
    username = Column(String(50))
    password = Column(String(50))
    last_update = Column(Date)

In [24]:
class Inventory(Base):
    __tablename__ = 'inventory'
    inventory_id = Column(Integer,primary_key=True)
    film_id = Column(Integer)
    store_id = Column(Integer)
    last_update = Column(Date)

In [25]:
class Film_category(Base):
    __tablename__ = 'film_category'
    film_id = Column(Integer,primary_key=True)
    category_id= Column(Integer)
    last_update = Column(Date)

In [26]:
class Store(Base):
    __tablename__ = 'store'
    store_id = Column(Integer,primary_key=True)
    manager_staff_id = Column(Integer)
    address_id = Column(Integer)
    last_update = Column(Date)

In [27]:
class Film_actor(Base):
    __tablename__ = 'film_actor'
    actor_id = Column(Integer,primary_key=True)
    film_id = Column(Integer)
    last_update = Column(Date)

In [28]:
class Actor(Base):
    __tablename__ = 'actor'
    actor_id = Column(Integer,primary_key=True)
    first_name = Column(String(50))
    last_name = Column(String(50))
    last_update = Column(Date)

In [29]:
#zadanie 1
%time session_stmt = session.query(Category.category_id, Category.name)
print('\nSession select: ')
print(session_stmt)

%time session_results = session_stmt.all()
print('All results:' )
print(session_results)
print('\nIlosc kategorii')
len(session_results)

Wall time: 507 µs

Session select:
SELECT category.category_id AS category_category_id, category.name AS category_name
FROM category
Wall time: 2.52 ms
All results:
[(1, 'Action'), (2, 'Animation'), (3, 'Children'), (4, 'Classics'), (5, 'Comedy'), (6, 'Documentary'), (7, 'Drama'), (8, 'Family'), (9, 'Foreign'), (10, 'Games'), (11, 'Horror'), (12, 'Music'), (13, 'New'), (14, 'Sci-Fi'), (15, 'Sports'), (16, 'Travel')]

Ilosc kategorii

16

In [30]:
#zadanie 2
%time session_stmt = session.query(Category.category_id, Category.name).order_by(Category.name)
print('\nSession select: ')
print(session_stmt)

%time session_results = session_stmt.all()
print('All results:' )
print(session_results)

Wall time: 0 ns

Session select:
SELECT category.category_id AS category_category_id, category.name AS category_name
FROM category ORDER BY category.name
Wall time: 2 ms
All results:
[(1, 'Action'), (2, 'Animation'), (3, 'Children'), (4, 'Classics'), (5, 'Comedy'), (6, 'Documentary'), (7, 'Drama'), (8, 'Family'), (9, 'Foreign'), (10, 'Games'), (11, 'Horror'), (12, 'Music'), (13, 'New'), (14, 'Sci-Fi'), (15, 'Sports'), (16, 'Travel')]

In [31]:
#zadanie 3
%time session_stmt = session.query(Film.title, Film.release_year).order_by(Film.release_year).limit(1)
print('\nSession select: ')
print(session_stmt)

%time session_results = session_stmt.all()
print('Najnowszy:' )
print(session_results)


%time session_stmt = session.query(Film.title, Film.release_year).order_by(Film.release_year.desc()).limit(1)
print('\nSession select: ')
print(session_stmt)

%time session_results = session_stmt.all()
print('Najstarszy:' )
print(session_results)

Wall time: 0 ns

Session select:
SELECT film.title AS film_title, film.release_year AS film_release_year
FROM film ORDER BY film.release_year
 LIMIT %(param_1)s
Wall time: 1.97 ms
Najnowszy:
[('Chamber Italian', 2006)]
Wall time: 0 ns

Session select:
SELECT film.title AS film_title, film.release_year AS film_release_year
FROM film ORDER BY film.release_year DESC
 LIMIT %(param_1)s
Wall time: 3.53 ms
Najstarszy:
[('Chamber Italian', 2006)]

In [32]:
#zadanie 4
%time session_stmt = session.query(Rental.rental_id, Rental.rental_date).\
filter(and_(Rental.rental_date > '2005-07-01',Rental.rental_date < '2005-08-01'))
print('\nSession select: ')
print(session_stmt)

%time session_results = session_stmt.all()
print('Ilosc wyporzeyczen z zadanego okresu' )
len(session_results)

Wall time: 0 ns

Session select:
SELECT rental.rental_id AS rental_rental_id, rental.rental_date AS rental_rental_date
FROM rental
WHERE rental.rental_date > %(rental_date_1)s AND rental.rental_date < %(rental_date_2)s
Wall time: 106 ms
Ilosc wyporzeyczen z zadanego okresu

6709

In [33]:
#zadanie 5
%time session_stmt = session.query(Rental.rental_id, Rental.rental_date).\
filter(and_(Rental.rental_date > '2010-01-01',Rental.rental_date < '2011-02-01'))
print('\nSession select: ')
print(session_stmt)

%time session_results = session_stmt.all()
print('Ilosc wyporzeyczen z zadanego okresu' )
len(session_results)

Wall time: 0 ns

Session select:
SELECT rental.rental_id AS rental_rental_id, rental.rental_date AS rental_rental_date
FROM rental
WHERE rental.rental_date > %(rental_date_1)s AND rental.rental_date < %(rental_date_2)s
Wall time: 2.53 ms
Ilosc wyporzeyczen z zadanego okresu

0

In [34]:
#zadanie 6
%time session_stmt = session.query(Payment.payment_id, Payment.amount).order_by(Payment.amount.desc()).limit(1)
print('\nSession select: ')
print(session_stmt)

%time session_results = session_stmt.all()
print('Najdroższa płatność' )
print(session_results)

Wall time: 999 µs

Session select:
SELECT payment.payment_id AS payment_payment_id, payment.amount AS payment_amount
FROM payment ORDER BY payment.amount DESC
 LIMIT %(param_1)s
Wall time: 11.2 ms
Najdroższa płatność
[(20403, 11.99)]

In [35]:
#zadanie 7
%time session_stmt = session.query(Customer.customer_id, Customer.first_name, Customer.last_name).\
    filter(Customer.address_id.in_(session.query(Address.address_id).\
        filter(Address.city_id.in_(session.query(City.city_id).\
            filter(City.country_id.in_(session.query(Country.country_id).\
                filter(Country.country.in_(['Poland','Nigeria','Bangladesh']))))))))
print('\nSession select: ')
print(session_stmt)

%time session_results = session_stmt.all()
print(session_results)

Wall time: 998 µs

Session select:
SELECT customer.customer_id AS customer_customer_id, customer.first_name AS customer_first_name, customer.last_name AS customer_last_name
FROM customer
WHERE customer.address_id IN (SELECT address.address_id AS address_address_id
FROM address
WHERE address.city_id IN (SELECT city.city_id AS city_city_id
FROM city
WHERE city.country_id IN (SELECT country.country_id AS country_country_id
FROM country
WHERE country.country IN (%(country_1)s, %(country_2)s, %(country_3)s))))
Wall time: 3.99 ms
[(571, 'Johnnie', 'Chisholm'), (562, 'Wallace', 'Slone'), (156, 'Bertha', 'Ferguson'), (380, 'Russell', 'Brinson'), (21, 'Michelle', 'Clark'), (318, 'Brian', 'Wyman'), (280, 'Tracey', 'Barrett'), (332, 'Stephen', 'Qualls'), (501, 'Ruben', 'Geary'), (232, 'Constance', 'Reid'), (18, 'Carol', 'Garcia'), (198, 'Elsie', 'Kelley'), (284, 'Sonia', 'Gregory'), (270, 'Leah', 'Curtis'), (128, 'Marjorie', 'Tucker'), (409, 'Rodney', 'Moeller'), (286, 'Velma', 'Lucas'), (572, 'Sidney', 'Burleson'), (103, 'Gladys', 'Hamilton'), (329, 'Frank', 'Waggoner'), (80, 'Marilyn', 'Ross'), (558, 'Jimmie', 'Eggleston'), (250, 'Jo', 'Fowler'), (277, 'Olga', 'Jimenez')]

In [36]:
#zadanie 8
%time session_stmt = session.query(Staff.first_name,Staff.last_name,Address.address).filter(Staff.address_id == Address.address_id)
print('\nSession select: ')
print(session_stmt)

%time session_results = session_stmt.all()
print(session_results)

Wall time: 997 µs

Session select:
SELECT staff.first_name AS staff_first_name, staff.last_name AS staff_last_name, address.address AS address_address
FROM staff, address
WHERE staff.address_id = address.address_id
Wall time: 1.99 ms
[('Mike', 'Hillyer', '23 Workhaven Lane'), ('Jon', 'Stephens', '1411 Lillydale Drive')]

In [37]:
#zadanie 9
%time session_stmt = session.query(Staff.staff_id, Staff.first_name, Staff.last_name).\
    filter(Staff.address_id.in_(session.query(Address.address_id).\
        filter(Address.city_id.in_(session.query(City.city_id).\
            filter(City.country_id.in_(session.query(Country.country_id).\
                filter(Country.country.in_(['Argentina','Spain']))))))))
print('\nSession select: ')
print(session_stmt)

%time session_results = session_stmt.all()
len(session_results)

Wall time: 1.99 ms

Session select:
SELECT staff.staff_id AS staff_staff_id, staff.first_name AS staff_first_name, staff.last_name AS staff_last_name
FROM staff
WHERE staff.address_id IN (SELECT address.address_id AS address_address_id
FROM address
WHERE address.city_id IN (SELECT city.city_id AS city_city_id
FROM city
WHERE city.country_id IN (SELECT country.country_id AS country_country_id
FROM country
WHERE country.country IN (%(country_1)s, %(country_2)s))))
Wall time: 2.51 ms

0

In [38]:
#zadanie 10
%time session_stmt = session.query(Category.name).\
    filter(Category.category_id.in_(session.query(Film_category.category_id).\
        filter(Film_category.film_id.in_(session.query(Inventory.film_id).\
            filter(Inventory.inventory_id.in_(session.query(Rental.inventory_id)))))))
print('\nSession select: ')
print(session_stmt)

%time session_results = session_stmt.all()
print(session_results)

Wall time: 1.99 ms

Session select:
SELECT category.name AS category_name
FROM category
WHERE category.category_id IN (SELECT film_category.category_id AS film_category_category_id
FROM film_category
WHERE film_category.film_id IN (SELECT inventory.film_id AS inventory_film_id
FROM inventory
WHERE inventory.inventory_id IN (SELECT rental.inventory_id AS rental_inventory_id
FROM rental)))
Wall time: 21.5 ms
[('Action',), ('Animation',), ('Children',), ('Classics',), ('Comedy',), ('Documentary',), ('Drama',), ('Family',), ('Foreign',), ('Games',), ('Horror',), ('Music',), ('New',), ('Sci-Fi',), ('Sports',), ('Travel',)]

In [39]:
#zadanie 11
%time session_stmt = session.query(Category.name).\
    filter(Category.category_id.in_(session.query(Film_category.category_id).\
        filter(Film_category.film_id.in_(session.query(Inventory.film_id).\
            filter(and_(Inventory.inventory_id.in_(session.query(Rental.inventory_id)),\
                Inventory.store_id.in_(session.query(Store.store_id).\
                    filter(Store.address_id.in_(session.query(Address.address_id).\
                        filter(Address.city_id.in_(session.query(City.city_id).\
                            filter(City.country_id.in_(session.query(Country.country_id).\
                                filter(Country.country == 'America'))))))))))))))
print('\nSession select: ')
print(session_stmt)

%time session_results = session_stmt.all()
print(session_results)

Wall time: 2 ms

Session select:
SELECT category.name AS category_name
FROM category
WHERE category.category_id IN (SELECT film_category.category_id AS film_category_category_id
FROM film_category
WHERE film_category.film_id IN (SELECT inventory.film_id AS inventory_film_id
FROM inventory
WHERE inventory.inventory_id IN (SELECT rental.inventory_id AS rental_inventory_id
FROM rental) AND inventory.store_id IN (SELECT store.store_id AS store_store_id
FROM store
WHERE store.address_id IN (SELECT address.address_id AS address_address_id
FROM address
WHERE address.city_id IN (SELECT city.city_id AS city_city_id
FROM city
WHERE city.country_id IN (SELECT country.country_id AS country_country_id
FROM country
WHERE country.country = %(country_1)s))))))
Wall time: 9.1 ms
[]

In [40]:
#zadanie 12
%time session_stmt = session.query(Film.title).\
    filter(Film.film_id.in_(session.query(Film_actor.film_id).\
        filter(Film_actor.actor_id.in_(session.query(Actor.actor_id).\
            filter(or_(and_(Actor.first_name == 'Olympia',Actor.last_name == 'Pfeiffer'),\
                       and_(Actor.first_name == 'Julia',Actor.last_name == 'Zellweger'),\
                       and_(Actor.first_name == 'Ellen',Actor.last_name == 'Presley')))))))
print('\nSession select: ')
print(session_stmt)

%time session_results = session_stmt.all()
print(session_results)

Wall time: 2 ms

Session select:
SELECT film.title AS film_title
FROM film
WHERE film.film_id IN (SELECT film_actor.film_id AS film_actor_film_id
FROM film_actor
WHERE film_actor.actor_id IN (SELECT actor.actor_id AS actor_actor_id
FROM actor
WHERE actor.first_name = %(first_name_1)s AND actor.last_name = %(last_name_1)s OR actor.first_name = %(first_name_2)s AND actor.last_name = %(last_name_2)s OR actor.first_name = %(first_name_3)s AND actor.last_name = %(last_name_3)s))
Wall time: 4.98 ms
[('Express Lonely',), ('Bilko Anonymous',), ('Effect Gladiator',), ('Contact Anonymous',), ('Others Soup',), ('Majestic Floats',), ('Chitty Lock',), ('Santa Paris',), ('Intolerable Intentions',), ('Psycho Shrunk',), ('Floats Garden',), ('Tadpole Park',), ('Idols Snatchers',), ('Hyde Doctor',), ('Divorce Shining',), ('Turn Star',), ('Deep Crusade',), ('Jacket Frisco',), ('Storm Happiness',), ('Won Dares',), ('Rider Caddyshack',), ('Mars Roman',), ('Pinocchio Simon',), ('Wait Cider',), ('Murder Antitrust',), ('Fugitive Maguire',), ('Casper Dragonfly',), ('Private Drop',), ('Jeopardy Encino',), ('Scarface Bang',), ('Women Dorado',), ('Frogmen Breaking',), ('Color Philadelphia',), ('Roots Remember',), ('Empire Malkovich',), ('Treasure Command',), ('Sweet Brotherhood',), ('Open African',), ('Titanic Boondock',), ('Streetcar Intentions',), ('Firehouse Vietnam',), ('Traffic Hobbit',), ('Caribbean Liberty',), ('Maude Mod',), ('Cranes Reservoir',), ('Ice Crossing',), ('Secretary Rouge',), ('Pickup Driving',), ('Dares Pluto',), ('Breakfast Goldfinger',), ('Minds Truman',), ('Microcosmos Paradise',), ('Image Princess',), ('Wyoming Storm',), ('Spy Mile',), ('Oscar Gold',), ('Outlaw Hanky',), ('Badman Dawn',), ('Lambs Cincinatti',), ('Network Peak',), ('Panky Submarine',), ('Hollow Jeopardy',), ('Sense Greek',), ('Magnolia Forrester',), ('Hanky October',), ('Tourist Pelican',), ('Detective Vision',), ('None Spiking',), ('Homeward Cider',)]