In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd


db_string = "postgres://postgres:postgres@localhost:5432/advanced_databases"


engine = create_engine(db_string)

Base = declarative_base()

In [2]:
from sqlalchemy import Column, Integer, String, Date, Float
from sqlalchemy import ForeignKey
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy import select

In [3]:
data=pd.read_csv('C:/Users/Admin/Desktop/1sem/advanced_databases/lab3/AB_NYC_2019.csv')
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [4]:
class neighbourhood_group(Base):
    __tablename__ = 'neighbourhood_group'
    id = Column(Integer, primary_key=True)
    neighbourhood_group = Column(String(100))

In [5]:
class neighbourhood(Base):
    __tablename__ = 'neighbourhood'
    id = Column(Integer, primary_key=True)
    id_neighbourhood_group=Column(Integer, ForeignKey('neighbourhood_group.id'))
    neighbourhood = Column(String(100))

In [6]:
class address(Base):
    __tablename__ = 'address'
    id = Column(Integer, primary_key=True)
    id_neighbourhood =Column(Integer, ForeignKey('neighbourhood.id'))
    latitude=Column(Float)
    longitude=Column(Float)

In [7]:
class room_type(Base):
    __tablename__ = 'room_type'
    id = Column(Integer, primary_key=True)
    room_type = Column(String(50))

In [8]:
class room(Base):
    __tablename__ = 'room'
    id = Column(Integer, primary_key=True)
    id_room_type =Column(Integer, ForeignKey('room_type.id'))
    price=Column(Integer)
    minimum_nights=Column(Integer)

In [9]:
class reviews(Base):
    __tablename__ = 'reviews'
    id = Column(Integer, primary_key=True)
    number_of_reviews =Column(Integer)
    last_review=Column(Date)
    reviews_per_montf=Column(Float)

In [10]:
class host(Base):
    __tablename__ = 'host'
    id = Column(Integer, primary_key=True)
    host_name = Column(String(50))

In [11]:
class airbnb(Base):
    __tablename__ = 'airbnb'
    id = Column(Integer, primary_key=True)
    name =Column(String(50))
    id_host=Column(Integer, ForeignKey('host.id'))
    id_address=Column(Integer, ForeignKey('address.id'))
    id_reviews=Column(Integer, ForeignKey('reviews.id'))
    id_room=Column(Integer, ForeignKey('room.id'))
    calculated_host_listing_count=Column(Integer)
    availability_365=Column(Integer)

In [12]:
Base.metadata.create_all(engine)


Session = sessionmaker(bind=engine)
session = Session()
session.commit()
session.close()

In [ ]:
neighbourhood_groups=[]
for x in range(len(data)):
    used=0
    for element in neighbourhood_groups:
        if data['neighbourhood_group'][x]==element:
            used=1
    if used==0:
        neighbourhood_groups.append(data['neighbourhood_group'][x])

record_neighbourhood_groups=[]
for element in neighbourhood_groups:
   record_neighbourhood_groups.append(neighbourhood_group(neighbourhood_group=element))
    
session.add_all(record_neighbourhood_groups)
session.commit()

In [ ]:
neighbourhoods=[]
record_neighbourhoods=[]
for x in range(len(data)):
    used=0
    for element in neighbourhoods:
        if data['neighbourhood'][x]==element:
            used=1
    if used==0:
        neighbourhoods.append(data['neighbourhood'][x])
        temp_id=0
        for elem in record_neighbourhood_groups:
            if elem.neighbourhood_group==data['neighbourhood_group'][x]:
                temp_id=elem.id
        record_neighbourhoods.append(neighbourhood(neighbourhood=data['neighbourhood'][x],id_neighbourhood_group=temp_id ))        

session.add_all(record_neighbourhoods)
session.commit()

In [ ]:
longitudes=[]
latitudes=[]
record_addresses=[]
for x in range(len(data)):
    used=0
    for y in range(len(longitudes)):
        if data['longitude'][x]==longitudes[y] and data['latitude'][x]==latitudes[y]:
            used=1
    if used==0:
        longitudes.append(data['longitude'][x])
        latitudes.append(data['latitude'][x])
        temp_id=0
        for elem in record_neighbourhoods:
            if elem.neighbourhood==data['neighbourhood'][x]:
                temp_id=elem.id
        record_addresses.append(address(id_neighbourhood=temp_id,longitude=data['longitude'][x],latitude=data['latitude'][x]))        

session.add_all(record_addresses)
session.commit()

In [ ]:
room_types=[]
for x in range(len(data)):
    used=0
    for element in room_types:
        if data['room_type'][x]==element:
            used=1
    if used==0:
        room_types.append(data['room_type'][x])

record_room_types=[]
for element in room_types:
   record_room_types.append(room_type(room_type=element))
    
session.add_all(record_room_types)
session.commit()

In [ ]:
prices=[]
min_nights=[]
record_rooms=[]
for x in range(len(data)):
    used=0
    for y in range(len(prices)):
        if data['price'][x]==prices[y] and data['minimum_nights'][x]==min_nights[y]:
            used=1
    if used==0:
        prices.append(data['price'][x])
        min_nights.append(data['minimum_nights'][x])
        temp_id=0
        for elem in record_room_types:
            if elem.room_type==data['room_type'][x]:
                temp_id=elem.id
        record_rooms.append(room(price=int(data['price'][x]),minimum_nights=int(data['minimum_nights'][x]),id_room_type=temp_id ))        

session.add_all(record_rooms)
session.commit()

In [ ]:
record_reviews=[]
for x in range(len(data)):
    record_reviews.append(reviews(number_of_reviews=int(data['number_of_reviews'][x]),last_review=data['last_review'][x],reviews_per_montf=data['reviews_per_month'][x] ))
session.add_all(record_reviews)
session.commit()

In [ ]:
hosts=[]
record_hosts=[]
for x in range(len(data)):
    used=0
    for element in hosts:
        if data['host_id'][x]==element:
            used=1
    if used==0:
        hosts.append(data['host_id'][x])
        record_hosts.append(host(host=data['host_name'][x]))
        record_hosts[len[record_hosts]-1].id=data['host_id'][x]
    
session.add_all(record_hosts)
session.commit()

In [ ]:
record=[]
for x in range(len(data)):
    temp_host=0
    for elem in record_hosts:
        if elem.id==data['host_id'][x]:
            temp_host=data['host_id'][x]
    temp_room=0
    for elem in record_rooms:
        if elem.price==data['price'][x] and elem.minimum_nights==data['minimum_nights'][x] and data['room_type'][x]==record_room_type[elem.id_room_type-1].room_type:
            temp_room=elem.id
    temp_review=x+1
    temp_address=0
    for elem in record_addresses:
        if elem.longitude==data['longitude'][x] and elem.latitude==data['latitude'][x]:
            temp_address=elem.id
    record.append(airbnb(availability_365=data['availability_365'][x],calculated_host_listings_count=data['calculated_host_listings_count'][x],name=data['name'][x],id_host=temp_host,id_reviews=temp_review,id_room=temp_room,id_address=temp_address ))
    record[x].id=data['id'][x]
session.add_all(record)
session.commit()

In [ ]:
db_string = "postgres://postgres:postgres@localhost:5432/advanced_databases"

db = create_engine(db_string)

metadata = MetaData()
table1 = Table('neighbourhood_group', metadata , autoload=True, autoload_with=db)
stmt = select([table1])
print(stmt)
results = db.execute(stmt).fetchall()
print(results)

table2 = Table('neighbourhood', metadata , autoload=True, autoload_with=db)
stmt = select([table2])
print(stmt)
results = db.execute(stmt).fetchall()
print(results)

table3 = Table('address', metadata , autoload=True, autoload_with=db)
stmt = select([table3])
print(stmt)
results = db.execute(stmt).fetchall()
print(results)

table4 = Table('room_type', metadata , autoload=True, autoload_with=db)
stmt = select([table4])
print(stmt)
results = db.execute(stmt).fetchall()
print(results)

table5 = Table('room', metadata , autoload=True, autoload_with=db)
stmt = select([table5])
print(stmt)
results = db.execute(stmt).fetchall()
print(results)

table6 = Table('reviews', metadata , autoload=True, autoload_with=db)
stmt = select([table6])
print(stmt)
results = db.execute(stmt).fetchall()
print(results)

table7 = Table('host', metadata , autoload=True, autoload_with=db)
stmt = select([table7])
print(stmt)
results = db.execute(stmt).fetchall()
print(results)

table8 = Table('airbnb', metadata , autoload=True, autoload_with=db)
stmt = select([table8])
print(stmt)
results = db.execute(stmt).fetchall()
print(results)